@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; 
}
.logo {
  width: 80px;
}
.menu-mobile {
  display: none;
}
.homepage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header {
  margin-top: 15px;
}
.homepage main {
  background-image: url('images/home-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-color: #f9263f;
}
.home-content {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: flex-end;
}
.home-content div {
  width: 40%;
  padding-right: 60px;
}
.home-content h2 {
  margin-top: -40px;
}
header .menu-desktop a {
  text-decoration: none;
  padding-left: 10px;
  color: black;
}
header h1 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  .container {
    width: 75%;
    margin: auto
  }
  .container {
    margin-top: 10%;
  }
  img {
    max-width: 100%
  }
  
  .imagereader {
    flex-basis: 60%
  }
  .readerinfo {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-right: 50px;
  }
  .readerspage {
    background-image: url(images/backgroundreaders.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
  }
.collection {
    background-color: pink;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}
.collection {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  


@media screen and (max-width: 520px) {
  /* START of Mobile Menu */
  .nav,
  .desktop {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
  }

  .icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
  }

  .hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #666;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .hamburger:before,
  .hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #666;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }

  .hamburger:before {
    top: -10px;
  }

  .hamburger:after {
    top: 10px;
  }

  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }

  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }

  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }

  .menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
  }

  .menu-mobile,
  .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
  }
  .menu-mobile a:hover {
    color: red;
  }
  .readerinfo, p {
    font-size: xx-small;
  }
  .readerinfo, h1 {
    font-size: x-small;
  }
  .readerspage {
    background-size: 100
  }
  .container {
    width: 80%;
    margin: auto;
  }

  .desktop,
  .menu-desktop,
  .menu-mobile {
    display: none;
  }
}
